{% extends "layout.html" %}
{% block sign_up %}
{% if error%}
  <div class="mb-3 row"><h6 style="color:red;">{{error}}</h6></div>
{% endif %}
<form class="row g-3" method= "POST" action= "{% url "sign_up" %}">
    {% csrf_token %}
   <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Frist Name</label>
    <input type="text" name= "first_name" class="form-control" id="inputEmail4">
   </div>
   <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Last Name</label>
    <input type="text" name= "last_name" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">User Name</label>
    <input type="text" name= "username" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" name= "email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="text" name= "password"class="form-control" id="inputPassword4">
  </div>
  
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </div>
</form>

{% endblock sign_up %}